.homePageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
}

.formWrapper {
    background: #f2f0f1;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.formWrapper-image{
    background: #131316;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  width: 377px;
  height: 442px;
}
.svg-image{
    background: #ef375e;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    width: 377px;
    height: 345px;  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color: #ef0c49;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
  color: black;
}

.homePageLogo {
  height: 80px;
  margin-bottom: 30px;
}

.inputBox {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 14px;
    background: #c0cdcf;
    font-size: 16px;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn,
.leaveBtn {
  background: red;
  width: 100px;
  margin-left: auto;
}

.joinBtn:hover,
.leaveBtn:hover {
  background: rgb(193, 11, 11);
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
  color: black;

}

.createNewBtn {
  color: red;
  text-decoration: none;
  border-bottom: 1px solid red;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover {
  color: rgb(176, 13, 13);
  border-color: rgb(219, 26, 26);
}

.mainWrap {
  display: grid;
  grid-template-columns: 1fr 350px;
}

.aside {
  background: #1c1e29;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  -webkit-box-shadow: -3px 2px 18px 4px rgba(242,233,242,1);
-moz-box-shadow: -3px 2px 18px 4px rgba(242,233,242,1);
box-shadow: -3px 2px 18px 4px rgba(242,233,242,1);
}
.asideInner {
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.userName {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoImage {
  height: 60px;
}

.leaveBtn {
  width: 100%;
  margin-top: 20px;
}
.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}
